.root {
    position: fixed;
    top: 0;
    left: 0;
    width: 3.5vw;
    height: 100%;
    padding: 60px 0 20px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: #F7F7F7;
}

.userProfile {
    width: 40px;
    height: 40px;
}

.pictureContainer {
    width: 100%;
    height: 100%;
}

.picture {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
}

.leftBarContent {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.leftBarList {
    list-style: none;
    display: flex;
    justify-content: center;
}

.buttonIconContainer {
    border: 0;
    outline: none;
    background-color: transparent;
}

.icon {
    font-size: small;
    padding: 5px;
    color: #808080;
    background-color: #E9E9E9;
    border-radius: 8px;
}

.icon:hover {
    color: #0A0A0A;
    background-color: #FFFFFF;
    cursor: pointer;
}

.active {
    color: #0A0A0A;
    background-color: #FFFFFF;
}