.root {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px #EEEEEE;
}

.circle {
    width: 10px;
    height: 10px;
    background-color: #000000;
    border-radius: 50px;
    animation: pulse 1.5s ease-in-out infinite;
}

.list {
    display: inline-block;
    list-style: none;
}

.icon {
    font-size: 1.2rem;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}