.root {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    color: #666;
}

.root::before,
.root::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #e0e0e0;
}

.root .text {
    padding: 0 10px;
    font-size: small;
}