.root {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.figure {
    width: 100%;
    height: 70%;
    margin: 0;
    overflow: hidden;
    flex-shrink: 0;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detailItem {
    border: 1px solid #e2e8f0;
    overflow-y: auto;
}

.detailItem[open] .arrow {
    transform: rotate(180deg);
}

.container {
    width: 100%;
    height: 30%;
    overflow-y: auto;
    flex-shrink: 0;
}

.header {
    padding: 1em 1.25rem 0 1.25rem;
    font-size: small;
    text-transform: uppercase;
}

.tableCode {
    padding: 0 1.25rem 1em 1.25rem;
    font-weight: 700;
}

.table {
    padding: 0;
    margin: 0 0 1em 0;
    width: 100%;
    border: none;
    font-size: small;
}

.table tr {
    margin: 0;
    padding: 0;
}

.table td {
    padding: 0;
}

.table td:nth-child(2) {
    font-weight: 600;
    text-align: right;
}

.detailSummary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1.25rem;
    cursor: pointer;
    font-weight: 600;
    list-style: none;
}

.detailTitle {
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 700;
}

.detailSummary::-webkit-details-marker {
    display: none;
}

.arrow {
    transition: transform 0.2s;
}

.detailContent {
    padding: 0 1.25rem;
    background-color: white;
}

.detailContent p {
    font-size: small;
    line-height: 1.5;
    padding: 0 0 1em 0;
}

.detailContent p:first-child {
    margin-top: 0;
}

.detailContent p:last-child {
    margin-bottom: 0;
}