.root {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 20px 0 20px 20px;
    background-color: #E9E9E9;
    overflow-y: auto;
}

.menuContainer {
    width: 100%;
    padding: 40px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}