.root {
    width: 100%;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 4px;
    outline: none;
    border: none;
    margin: 0 0 10px 0;
}

.root:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: #FAFAFA;
}

.submit {
    background-color: #000000;
    color: #FFFFFF;
}

.submit:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: #000000;
    color: #FFFFFF;
}

.large {
    padding: 20px 5px;
}

.medium {
    padding: 10px 5px;
}