.root {
    position: fixed;
    width: 100%;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #EEEEEE;
    background-color: #FFFFFF;
    z-index: 1000;
}

figure {
    width: 20px;
    height: 20px;
}

figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}