.root {
    position: fixed;
    width: 100%;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #EEEEEE;
    background-color: #FFFFFF;
    z-index: 10;
}

.root figure {
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

.root figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.xl {
    width: 35px !important;
    height: 35px !important;
}
