.root {
    position: fixed;
    width: 100%;
    padding: 5px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #EEEEEE;
    background-color: #FFFFFF;
    z-index: 10;
}

.root .container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.root figure {
    width: 20px;
    height: 20px;
}

.root figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.root .figure {
    width: 20px;
    height: 20px;
    border: 1px solid #F5F5F5;
    border-radius: 50px;
}

.root .figure:hover {
    border: 2px solid #CACACA;
    cursor: pointer;
}

.root .figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.xl {
    width: 35px !important;
    height: 35px !important;
}

.md {
    width: 25px !important;
    height: 25px !important;
}

.profile {
    width: 100%;
    height: 100%;
    background-color: teal;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.artificial {
    font-weight: bold;
    color: #FFFFFF;
}


.root ul li {
    display: inline-block;
    margin: 0 10px;
}

.root ul li .link {
    text-decoration: none;
    color: gray;
    font-size: small;
}

.root ul li .link:hover {
    color: #0a0a0a;
}

.active {
    color: #000 !important;
    font-weight: 500;
}

.p-4 {
    padding: 10px 40px;
}