.root {
    width: 100%;
    height: 100vh;
    padding: 40px 0;
    display: flex;
    align-items: center;
}

.table {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #0a0a0a;
}