.root {
    width: 100%;
    height: 100vh;
    padding: 40px 0 0 0;
    display: flex;
    align-items: center;
}

@media (max-width: 576px) {
  .root {
    display: flex;
    flex-direction: column !important;
    overflow-y: auto;
  }
}