@import url('https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400,401,500,501,700,701,900,901,1,2&f[]=nunito@200,201,300,301,400,401,500,501,600,601,700,701,800,801,900,901,1,2&f[]=poppins@100,101,200,201,300,301,400,401,500,501,600,601,700,701,800,801,900,901,1,2&display=swap');
@import './tokens.css';

*  {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: var(--font-satoshi);
}

body {
    background-color: #F5F5F5;
}