.root {
    position: relative;
    width: 70%;
    height: 80%;
    margin: 40px;
    border: 1px solid #EEEEEE;
    background-color: #FFFFFF;
}

@media (max-width: 576px) {
  .root {
    width: 100%;
    height: 100vh;
    margin: 0;
    border: none;
  }
}