.root {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
}

.hint {
    text-align: center;
    margin: 15px 0 20px 0;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.card .submit {
    margin: 10px 0;
    outline: none;
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
}

.card button:hover {
    cursor: pointer;
    text-decoration: underline;
}