.root {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 10;
    background-color: rgba(243, 243, 243, 0.5);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.root.open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100vh;
    padding: 0 20px;
    background-color: #FFFFFF;
    border-left: 1px solid #EEEEEE;
    box-shadow: 1px 1px 5px #EEEEEE;
    overflow-y: auto;
    transition: transform 0.5s ease-in-out;
    transform: translateX(100%);
}

.slide {
    transform: translateX(0);
}

.content {
    position: relative;
    height: 100vh;
    overflow-y: auto;
}

.title {
    text-align: center;
    text-transform: capitalize;
    padding: 0 0 10px 0;
    margin: 30px 0 5px 0;
    border-bottom: 1px solid #EEEEEE;
}

.total {
    display: flex;
    justify-content: flex-end;
    font-size: small;
    font-weight: 500;
}

.controls {
    position: sticky;
    bottom: 0;
    right: 0;
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
    background-color: #FFFFFF;
    z-index: 1;
}

.control:nth-child(1) {
    padding: 10px 20px;
    display: block;
    background-color: #FFFFFF;
    color: #000000;
    border: none;
    outline: none;
    margin: 0 0 5px 0;
    cursor: pointer;
}

.control:nth-child(2) {
    padding: 10px 20px;
    display: block;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    outline: none;
    margin: 0 0 5px 0;
    cursor: pointer;
}