.root {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 10;
}

.overlay {
    width: 70vw;
    height: 100%;
    background-color: rgba(243, 243, 243, 0.5);
}

.rightbarContent {
    width: 30vw;
    height: 100vh;
    padding: 10px 20px;
    background-color: #FFFFFF;
    border-left: 1px solid #EEEEEE;
    box-shadow: 1px 1px 5px #EEEEEE;
    overflow-y: auto;
}


.title {
    text-align: center;
    text-transform: capitalize;
    padding: 0 0 10px 0;
    margin: 30px 0 5px 0;
    border-bottom: 1px solid #EEEEEE;
}

.checkoutContainer {
    width: 100%;
    height: fit-content;
}

.subTitle {
    text-transform: capitalize;
}

.totalAmountContainer {
    width: 100%;
    text-align: right;
}

.totalAmount {
    font-size: small;
}