.root {
    position: absolute;
    border: 1px solid #0A0A0A;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}

.selected {
    background-color: #0A0A0A;
    color: #FFFFFF;
}