.root {
    width: 200px;
    height: 300px;
    padding: 5px;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
}

.imageContainer {
    width: 100%;
    height: 60%;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.textContainer {
    padding: 5px 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.name {
    font-size: 16px;
    font-weight: 500;
}

.rate {
    font-size: small;
    font-weight: 300;
}

.price {
    font-size: small;
    font-weight: 500;
    margin: 0 0 10% 0;
}

.button {
    width: 100%;
    padding: 5px 10px;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}