.root {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    display: flex;
}

.card {
    width: 400px;
}

.content {
    width: 100%;
    height: fit-content;
}

.content:nth-child(1) {
    position: fixed;
    width: fit-content;
    height: 100vh;
    overflow: hidden;
}

.content:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow-y: auto;
    padding: 40px 12.8%;
}

.title {
    font-size: 24px;
    font-weight: 500;
    margin: 20px 0;
}

.figure {
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

label {
    margin: 5px 0;
    display: block;
    width: 100%;
}

select {
    outline: none;
    border: 1px solid #EEEEEE;
    padding: 5px 10px;
    border-radius: 4px;   
    display: block;
    width: 100%;
}

input {
    outline: none;
    border: 1px solid #EEEEEE;
    padding: 5px 10px;
    border-radius: 4px;   
    display: block;
    width: 100%;
}

button[type="submit"] {
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px 20px;
    outline: none;
    border: none;
    width: 100%;
    display: block;
    margin: 20px 0 0 0;
    border-radius: 4px;
}

button[type="submit"]:hover {
    text-decoration: underline;
    cursor: pointer;
}

.link {
    width: 100%;
    display: block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #000000;
    font-size: small;
    border-radius: 4px;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: #FAFAFA;
}

/* Responsive */
@media (max-width: 576px) {
  .root {
    display: flex;
    flex-direction: column !important;
  }

  .content:nth-child(1) {
    position: static;
    display: block;
    width: 100%;
  }

  .content:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80% 0 5% 0;
    margin: 0;
  }
}