.root {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    display: flex;
}

.card {
    width: 400px;
}

.content {
    width: 100%;
    height: fit-content;
}

.content:nth-child(1) {
    position: fixed;
    width: fit-content;
    height: 100vh;
    overflow: hidden;
}

.content:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow-y: auto;
    padding: 40px 12.8%;
}

.title {
    font-size: 24px;
    font-weight: 500;
    margin: 20px 0;
}

.figure {
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 576px) {
  .root {
    display: flex;
    flex-direction: column !important;
  }

  .content:nth-child(1) {
    position: static;
    display: block;
    width: 100%;
  }

  .content:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80% 0 5% 0;
    margin: 0;
  }
}