@import '../../../../shared/styles/reset.css';
@import '../../../../shared/styles/tokens.css';

.root {
    width: 200px;
    height: 300px;
    padding: 5px;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
}

.pictureContainer {
    width: 100%;
    height: 60%;
    border-radius: 8px 8px 0 0;
}

.picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.textContainer {
    padding: 5px 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.name {
    font-size: 1rem;
    font-weight: 500;
}

.ratings {
    font-size: small;
    font-weight: 300;
}

.price {
    font-size: small;
    margin: 0 0 10% 0;
    font-weight: 500;
}

.buttonAddToCart {
    width: 100%;
    padding: 5px 10px;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 4px;
}

.buttonAddToCart:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    color: #000000;
    text-decoration: underline;
    border: 1px solid #000000;
}