.root {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: small;
    font-weight: 700;
}

.price {
    font-size: small;
    font-weight: 500;
}

.remove {
    border: none;
    outline: none;
    background-color: #FFFFFF;
    color: #000000;
    font-size: small;
    font-weight: 500;
    cursor: pointer;
}

.remove:hover {
    font-weight: 700;
}

.buttons {
    min-width: fit-content;
    display: flex;
    align-items: end;
    flex-direction: column;
}

.control {
    border: none;
    outline: none;
    padding: 2px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: small;
    border-radius: 4px;
}

.control:hover {
    cursor: pointer;
}

.quantity {
    font-size: small;
    margin: 0 5px;
}

.subtotal {
    font-size: small;
    font-weight: 500;
}