.root {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 10;
    background-color: rgba(243, 243, 243, 0.5);
}

.hidden {
    display: none !important;
}

.overlay {
    width: 70vw;
    height: 100%;
}

.slideIn {
    transform: translateX(0);
}

.slideOut {
    transform: translateX(100%);
}

.checkoutContent {
    /* position: relative; */
    width: 30vw;
    height: 100vh;
    padding: 0 20px;
    background-color: #FFFFFF;
    border-left: 1px solid #EEEEEE;
    box-shadow: 1px 1px 5px #EEEEEE;
    overflow-y: auto;
    transition: transform 0.5s ease-in-out;
}


.title {
    text-align: center;
    text-transform: capitalize;
    padding: 0 0 10px 0;
    margin: 30px 0 5px 0;
    border-bottom: 1px solid #EEEEEE;
}

.checkoutListContainer {
    width: 100%;
    height: fit-content;
}

.subTitle {
    text-transform: capitalize;
}

.totalAmountContainer {
    width: 100%;
    text-align: right;
}

.totalAmount {
    font-size: small;
}

.buttonTransaction {
    position: sticky;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
    background-color: #FFFFFF;
    z-index: 1;
    /* border-top: 1px solid #EEEEEE;
    box-shadow: 1px 1px 5px #EEEEEE; */
}

.buttonPay {
    padding: 10px 20px;
    display: block;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    outline: none;
    margin: 0 0 5px 0;
}

.buttonPay:hover {
    text-decoration: underline;
    cursor: pointer;
}

.buttonClose {
    padding: 10px 20px;
    display: block;
    border: none;
    outline: none;
    background-color: #FFFFFF;
}

.buttonClose:hover {
    cursor: pointer;
}