html, body {
    overflow-x: hidden;
}

.root {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    padding: 40px;
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
}

.headline {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1;
}

.parallax {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    top: 50%;
    z-index: 1;
    padding: 20px 0;
    will-change: transform;
    transform: translateZ(0); /* Force hardware acceleration */
    backface-visibility: hidden; /* Improve performance on mobile */
    perspective: 1000px;
}

.parallax.fixed {
    position: absolute;
    width: 100%;
    height: 62%;
    padding: 0 40px 2% 40px;
    background: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    z-index: 5;
    pointer-events: none;
    margin: 0;
    transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1); /* Smoother transition */
}

.parallax figure {
    display: none;
    width: 400px;
    height: 200px;
}

.parallax figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.parallax figure.show {
    display: block;
}

.tables {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.tables.expand {
    width: 70vw;
}

.table {
    width: 50px;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 4px;
}

.table.active {
    background-color: #000000;
}

.callToAction {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 15%;
    height: fit-content;
}

.link {
    width: 100%;
    display: block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #000000;
    font-size: small;
    border-radius: 4px;
}