.root {
    width: 100%;
    height: 100vh;
    display: flex;
}

.floorPlan {
    width: 70%;
    height: 100%;
    /* background-color: #F3F3F3;     */
}

.floorPlanContent {
    position: relative;
    width: 100%;
    height: 100%;
}

.previewTable {
    width: 30%;
    height: 100%;
    /* background-color: #FFFFFF;   */
    /* background-color: #0A0A0A;   */
    /* background-color: none; */
}

.pictureContainer {
    width: 100%;
    height: 70%;
}

.picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}